@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81da81;
}

header {
    background: white;
    padding: 20px;
}

header>h1 {
    color: #25272e;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: 'Asap', sans-serif;
    position: relative;
}

.badge {
    background: tomato;
    color: white;
    font-size: 15px;
    padding: 2px 10px;
    font-family: 'Asap', sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
}

.result>p {
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

.choices {
    margin-top: 50px;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.5s ease;
}

#img {
    border-radius: 50%;
    text-align: center;
}

.choice:hover {
    cursor: pointer;
    background: tomato;
}

#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Asap', sans-serif;
    margin-top: 30px;
}

.green-glow {
    border: 4px solid green;
    box-shadow: 0 0 10px rgb(68, 241, 68);
}

.red-glow {
    border: 4px sloid red;
    box-shadow: 0 0 10px rgb(156, 5, 5);
}

.blue-glow {
    border: 4px solid #1515ca;
    box-shadow: 0 0 10px #0992d6;
}